<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sate7.geo.map">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".Sate7MapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"></activity>
        <activity
            android:name=".OfflineMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TempTestActivity"></activity>
        <activity
            android:name=".FenceListActivity"
            android:label="@string/title_activity_fence_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FenceOptionActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="f20GvnwfBlbRBVFaAOS2kThyZfj7zSqg" />

        <activity
            android:name=".MapActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>